@font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/RobotoSerif-Regular.ttf");
}

@font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/RobotoSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/RobotoSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/RobotoSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/AtkinsonHyperlegible-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/AtkinsonHyperlegible-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Martian Mono";
    src: url("/fonts/MartianMonoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Martian Mono";
    src: url("/fonts/MartianMonoCondensed-Bold.ttf");
    font-weight: bold;
}
